<app-navbar-client></app-navbar-client>
<div class="col-12 p-5 text-planes">
    <h1 id="Planes" >NUESTROS PLANES</h1>
    <h2 >Obtén tus entradas</h2>
    <div class="row">
        <div class="p-5 col-6">
            <div class="cardNew">
                <div class="card-header titulo-card1">
                    <h3 class="title-card" >ESTUDIANTE</h3>
                </div>
                <div class="card-bodyNew">
                    <div class="mb-3 row justify-content-md-center">
                        <div class="col-12 text-card">
                            <h1>$680<strong>MX</strong></h1>
                            <hr />
                            <p>Acceso al evento por zoom.</p>
                            <hr />
                            <p>
                                Acceso presencial <br>(Aforo limitado previo al registro por día).
                            </p>
                            <hr />
                            <p>1 BIT Kit.</p>
                            <hr />
                            <a [routerLink]="['/completar']" class="btn_gral btn_primary btn btn-lg">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 col-6">
            <div class="cardNew">
                <div class="card-header titulo-card2">
                    <h3 class="title-card">EXTERNO</h3>
                </div>
                <div class="card-bodyNew">
                    <div class="mb-3 row justify-content-md-center">
                        <div class="col-12 text-card">
                            <h1>$980<strong>MX</strong></h1>
                            <hr />
                            <p>Acceso al evento por zoom</p>
                            <hr />
                            <p>
                                Acceso presencial <br>(Aforo limitado previo al registro por día).
                            </p>
                            <hr />
                            <p>1 BIT Kit</p>
                            <hr />
                            <a [routerLink]="['/completar']" class="btn_gral btn_primary btn btn-lg">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
