<app-navbar-client></app-navbar-client>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Administradores</span>
            <button class="btn btn-primary btn-lg " routerLink="/crear-admin" >Agregar</button> <!-- -->
            <!--<h5 style="margin-top: 30px;" >No hay datos para mostrar</h5>  *ngIf="empleados.length == 0" -->
            <div class="table-responsive">
              <table  class="table table-striped mt-5"> <!-- *ngIf="empleados.length > 0" -->
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Opción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of administradores"> <!-- -->
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.apellido_paterno }}</td>
                    <td>{{ item.apellido_materno }}</td>
                    <td>{{ item.correo }}</td>
                    <td>{{ item.celular }}</td>
                    <td>
                      <!-- <i class="fas fa-edit fa-lg text-info mr-2" ></i> [routerLink]="['/editAdmin/', item.id]"-->
                      <i  class="fas fa-trash-alt fa-lg text-danger" (click)="eliminarAdminJR(item.id_usuario)"></i> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div><br>
<app-footer></app-footer>