<footer class="footer mt-auto pt-5 px-3 color-bit">
    <div class="container-fluid">
        <div class="row g-5">
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <nav class="d-flex flex-column gap-2 biografia">
                    <div class="img-div">
                        <img class="footer-img" src="./assets/img/logo.png" alt="" />
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <a href="" class="my-0 py-2 btn_link">
                                    <img src="./assets/svg/facebook-2020-2-1.svg" alt="" width="48" height="48" />
                                </a>
                            </div>
                            <div class="col-2">
                                <a style="color: transparent"></a>
                                <a href="" class="my-0 py-2 btn_link">
                                    <img src="./assets/svg/instagram-5.svg" alt="" width="48" height="48" />
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <div class="div-columa2" >
                    <ul class="columna2">
                        <li><a href="#">POLÍTICA DE PRIVACIDAD</a></li>
                        <li><a href="#">TALLERES</a></li>
                        <li><a href="#">PLANES</a></li>
                        <li><a href="#">PRENSA</a></li>
                        <li><a href="#">PATROCINADORES</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
                <div class="div-columna3">
                    <h1 class="columna3"><strong>ATENCIÓN DE CLIENTES</strong></h1>
                    <h2 class="columna3">contacto@congresobit.com</h2>
                    <h2 class="columna3">(52)951 123 4456</h2>
                </div>
            </div>
        </div>
        <hr/>
        <p class="copy">Copyright © 2022 BIT MX</p>
    </div>
</footer>